.tableHead{
	height:40px;
	background:#e6c6c6;
	margin:0;
	border-radius: 6px;
}

.tableBody{
	height:40px;
	background:#e6c6c6;
	margin:0;
	border-radius: 6px;
}

.tableBody li{
	list-style: none;
	display:inline-block;
	line-height:40px;
	margin-left:5px;
}

.tableHead li{
	list-style: none;
	display:inline-block;
	line-height:40px;
	margin-left:5px;
}

.tableBody :hover{
	background:red;
}